a {
  color: #ec9a54;
}

a:hover {
  color: #ec9a54;
}

#profile {
  margin: 10px;
  border-radius: 25px;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.header {
  height: 65px;
  background-color: #f7f7f7;
}
.jumbotron {
  background-color: #ec9a54;
  height: 192px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 16px;
}

.jumbotron .container {
  position: relative;
  top:0px;
}

.jumbotron h1 {
  font-size: 48px;  
  font-family: 'Titillium Web', sans-serif;
  font-weight: bolder;
  text-shadow: 0 0 0;
}

.jumbotron p {
  text-shadow: 0 0 0;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  margin-bottom: -1px;
}
.aboutme p {
  font-size: 14
}

.aboutme img {
  padding: 0px;
}

.profiles {
    border-top: 1px solid #dbdbdb;
}

.profiles h2 {
    color: #393c3d;
    font-size: 34px;
    text-align: center;
}

.profiles h3 {
    text-align: center;
    margin-top: 0px;
}

.profiles p {
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 0px;
    text-align: center;
}

html {
    margin: 16px;
}
